<div class="tablature-container">
  @for (paragraph of renderView()[0]; track $index) {
  <div class="tablature-paragraph">
    <span>e |</span><span [innerHtml]="renderView()[0][$index]"></span><br />
    <span>B |</span><span [innerHtml]="renderView()[1][$index]"></span><br />
    <span>G |</span><span [innerHtml]="renderView()[2][$index]"></span><br />
    <span>D |</span><span [innerHtml]="renderView()[3][$index]"></span><br />
    <span>A |</span><span [innerHtml]="renderView()[4][$index]"></span><br />
    <span>E |</span><span [innerHtml]="renderView()[5][$index]"></span><br />
  </div>
  }
</div>
