.dot-selector {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .dots {
    display: flex;
    gap: 10px;
    align-items: center; 
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s ease;
    display: inline-block; 
  }
  
  .dot.active {
    background-color: var(--c2);
  }
  
  .arrow {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 0; 
    width: 30px;
    height: 30px; 
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    padding-bottom: 4px; 
    border-radius: 15px;
  }
  
  .arrow:hover {
    background-color: #f0f0f0;
  }
  
  .arrow:active {
    background-color: #e0e0e0;
  }