<div class="fretboard-container">
  <div class="top">
    <div class="string-labels">
      <div class="string-tone top-element">e</div>
      <div class="string-tone">B</div>
      <div class="string-tone">G</div>
      <div class="string-tone">D</div>
      <div class="string-tone">A</div>
      <div class="string-tone bottom-element">E</div>
    </div>
    <svg class="fretboard">
      <rect class="fretboardbg" />
      <line class="fret" x1="5%" x2="5%" y1="0%" y2="100%" />
      <line class="fret" x1="10%" x2="10%" y1="0%" y2="100%" />
      <line class="fret" x1="15%" x2="15%" y1="0%" y2="100%" />
      <line class="fret" x1="20%" x2="20%" y1="0%" y2="100%" />
      <line class="fret" x1="25%" x2="25%" y1="0%" y2="100%" />
      <line class="fret" x1="30%" x2="30%" y1="0%" y2="100%" />
      <line class="fret" x1="35%" x2="35%" y1="0%" y2="100%" />
      <line class="fret" x1="40%" x2="40%" y1="0%" y2="100%" />
      <line class="fret" x1="45%" x2="45%" y1="0%" y2="100%" />
      <line class="fret" x1="50%" x2="50%" y1="0%" y2="100%" />
      <line class="fret" x1="55%" x2="55%" y1="0%" y2="100%" />
      <line class="fret" x1="60%" x2="60%" y1="0%" y2="100%" />
      <line class="fret" x1="65%" x2="65%" y1="0%" y2="100%" />
      <line class="fret" x1="70%" x2="70%" y1="0%" y2="100%" />
      <line class="fret" x1="75%" x2="75%" y1="0%" y2="100%" />
      <line class="fret" x1="80%" x2="80%" y1="0%" y2="100%" />
      <line class="fret" x1="85%" x2="85%" y1="0%" y2="100%" />
      <line class="fret" x1="90%" x2="90%" y1="0%" y2="100%" />
      <line class="fret" x1="95%" x2="95%" y1="0%" y2="100%" />
      <line class="string nylon" x1="0%" x2="100%" y1="14.29%" y2="14.29%" />
      <line class="string nylon" x1="0%" x2="100%" y1="28.57%" y2="28.57%" />
      <line class="string nylon" x1="0%" x2="100%" y1="42.86%" y2="42.86%" />
      <line class="string steel" x1="0%" x2="100%" y1="57.14%" y2="57.14%" />
      <line class="string steel" x1="0%" x2="100%" y1="71.43%" y2="71.43%" />
      <line class="string steel" x1="0%" x2="100%" y1="85.71%" y2="85.71%" />
      <circle class="fretboardmarker" cx="27.5%" cy="50%" r="10px" />
      <circle class="fretboardmarker" cx="37.5%" cy="50%" r="10px" />
      <circle class="fretboardmarker" cx="52.5%" cy="50%" r="10px" />
      <circle class="fretboardmarker" cx="62.5%" cy="50%" r="10px" />
      <g (click)="onClick($event)">
        <rect id="s1f0" class="rectbutton" x="0.5%" y="7.14%" />
        <rect id="s1f1" class="rectbutton" x="5.5%" y="7.14%" />
        <rect id="s1f2" class="rectbutton" x="10.5%" y="7.14%" />
        <rect id="s1f3" class="rectbutton" x="15.5%" y="7.14%" />
        <rect id="s1f4" class="rectbutton" x="20.5%" y="7.14%" />
        <rect id="s1f5" class="rectbutton" x="25.5%" y="7.14%" />
        <rect id="s1f6" class="rectbutton" x="30.5%" y="7.14%" />
        <rect id="s1f7" class="rectbutton" x="35.5%" y="7.14%" />
        <rect id="s1f8" class="rectbutton" x="40.5%" y="7.14%" />
        <rect id="s1f9" class="rectbutton" x="45.5%" y="7.14%" />
        <rect id="s1f10" class="rectbutton" x="50.5%" y="7.14%" />
        <rect id="s1f11" class="rectbutton" x="55.5%" y="7.14%" />
        <rect id="s1f12" class="rectbutton" x="60.5%" y="7.14%" />
        <rect id="s1f13" class="rectbutton" x="65.5%" y="7.14%" />
        <rect id="s1f14" class="rectbutton" x="70.5%" y="7.14%" />
        <rect id="s1f15" class="rectbutton" x="75.5%" y="7.14%" />
        <rect id="s1f16" class="rectbutton" x="80.5%" y="7.14%" />
        <rect id="s1f17" class="rectbutton" x="85.5%" y="7.14%" />
        <rect id="s1f18" class="rectbutton" x="90.5%" y="7.14%" />
        <rect id="s1f19" class="rectbutton" x="95.5%" y="7.14%" />
        <rect id="s2f0" class="rectbutton" x="0.5%" y="21.43%" />
        <rect id="s2f1" class="rectbutton" x="5.5%" y="21.43%" />
        <rect id="s2f2" class="rectbutton" x="10.5%" y="21.43%" />
        <rect id="s2f3" class="rectbutton" x="15.5%" y="21.43%" />
        <rect id="s2f4" class="rectbutton" x="20.5%" y="21.43%" />
        <rect id="s2f5" class="rectbutton" x="25.5%" y="21.43%" />
        <rect id="s2f6" class="rectbutton" x="30.5%" y="21.43%" />
        <rect id="s2f7" class="rectbutton" x="35.5%" y="21.43%" />
        <rect id="s2f8" class="rectbutton" x="40.5%" y="21.43%" />
        <rect id="s2f9" class="rectbutton" x="45.5%" y="21.43%" />
        <rect id="s2f10" class="rectbutton" x="50.5%" y="21.43%" />
        <rect id="s2f11" class="rectbutton" x="55.5%" y="21.43%" />
        <rect id="s2f12" class="rectbutton" x="60.5%" y="21.43%" />
        <rect id="s2f13" class="rectbutton" x="65.5%" y="21.43%" />
        <rect id="s2f14" class="rectbutton" x="70.5%" y="21.43%" />
        <rect id="s2f15" class="rectbutton" x="75.5%" y="21.43%" />
        <rect id="s2f16" class="rectbutton" x="80.5%" y="21.43%" />
        <rect id="s2f17" class="rectbutton" x="85.5%" y="21.43%" />
        <rect id="s2f18" class="rectbutton" x="90.5%" y="21.43%" />
        <rect id="s2f19" class="rectbutton" x="95.5%" y="21.43%" />
        <rect id="s3f0" class="rectbutton" x="0.5%" y="35.71%" />
        <rect id="s3f1" class="rectbutton" x="5.5%" y="35.71%" />
        <rect id="s3f2" class="rectbutton" x="10.5%" y="35.71%" />
        <rect id="s3f3" class="rectbutton" x="15.5%" y="35.71%" />
        <rect id="s3f4" class="rectbutton" x="20.5%" y="35.71%" />
        <rect id="s3f5" class="rectbutton" x="25.5%" y="35.71%" />
        <rect id="s3f6" class="rectbutton" x="30.5%" y="35.71%" />
        <rect id="s3f7" class="rectbutton" x="35.5%" y="35.71%" />
        <rect id="s3f8" class="rectbutton" x="40.5%" y="35.71%" />
        <rect id="s3f9" class="rectbutton" x="45.5%" y="35.71%" />
        <rect id="s3f10" class="rectbutton" x="50.5%" y="35.71%" />
        <rect id="s3f11" class="rectbutton" x="55.5%" y="35.71%" />
        <rect id="s3f12" class="rectbutton" x="60.5%" y="35.71%" />
        <rect id="s3f13" class="rectbutton" x="65.5%" y="35.71%" />
        <rect id="s3f14" class="rectbutton" x="70.5%" y="35.71%" />
        <rect id="s3f15" class="rectbutton" x="75.5%" y="35.71%" />
        <rect id="s3f16" class="rectbutton" x="80.5%" y="35.71%" />
        <rect id="s3f17" class="rectbutton" x="85.5%" y="35.71%" />
        <rect id="s3f18" class="rectbutton" x="90.5%" y="35.71%" />
        <rect id="s3f19" class="rectbutton" x="95.5%" y="35.71%" />
        <rect id="s4f0" class="rectbutton" x="0.5%" y="50.0%" />
        <rect id="s4f1" class="rectbutton" x="5.5%" y="50.0%" />
        <rect id="s4f2" class="rectbutton" x="10.5%" y="50.0%" />
        <rect id="s4f3" class="rectbutton" x="15.5%" y="50.0%" />
        <rect id="s4f4" class="rectbutton" x="20.5%" y="50.0%" />
        <rect id="s4f5" class="rectbutton" x="25.5%" y="50.0%" />
        <rect id="s4f6" class="rectbutton" x="30.5%" y="50.0%" />
        <rect id="s4f7" class="rectbutton" x="35.5%" y="50.0%" />
        <rect id="s4f8" class="rectbutton" x="40.5%" y="50.0%" />
        <rect id="s4f9" class="rectbutton" x="45.5%" y="50.0%" />
        <rect id="s4f10" class="rectbutton" x="50.5%" y="50.0%" />
        <rect id="s4f11" class="rectbutton" x="55.5%" y="50.0%" />
        <rect id="s4f12" class="rectbutton" x="60.5%" y="50.0%" />
        <rect id="s4f13" class="rectbutton" x="65.5%" y="50.0%" />
        <rect id="s4f14" class="rectbutton" x="70.5%" y="50.0%" />
        <rect id="s4f15" class="rectbutton" x="75.5%" y="50.0%" />
        <rect id="s4f16" class="rectbutton" x="80.5%" y="50.0%" />
        <rect id="s4f17" class="rectbutton" x="85.5%" y="50.0%" />
        <rect id="s4f18" class="rectbutton" x="90.5%" y="50.0%" />
        <rect id="s4f19" class="rectbutton" x="95.5%" y="50.0%" />
        <rect id="s5f0" class="rectbutton" x="0.5%" y="64.29%" />
        <rect id="s5f1" class="rectbutton" x="5.5%" y="64.29%" />
        <rect id="s5f2" class="rectbutton" x="10.5%" y="64.29%" />
        <rect id="s5f3" class="rectbutton" x="15.5%" y="64.29%" />
        <rect id="s5f4" class="rectbutton" x="20.5%" y="64.29%" />
        <rect id="s5f5" class="rectbutton" x="25.5%" y="64.29%" />
        <rect id="s5f6" class="rectbutton" x="30.5%" y="64.29%" />
        <rect id="s5f7" class="rectbutton" x="35.5%" y="64.29%" />
        <rect id="s5f8" class="rectbutton" x="40.5%" y="64.29%" />
        <rect id="s5f9" class="rectbutton" x="45.5%" y="64.29%" />
        <rect id="s5f10" class="rectbutton" x="50.5%" y="64.29%" />
        <rect id="s5f11" class="rectbutton" x="55.5%" y="64.29%" />
        <rect id="s5f12" class="rectbutton" x="60.5%" y="64.29%" />
        <rect id="s5f13" class="rectbutton" x="65.5%" y="64.29%" />
        <rect id="s5f14" class="rectbutton" x="70.5%" y="64.29%" />
        <rect id="s5f15" class="rectbutton" x="75.5%" y="64.29%" />
        <rect id="s5f16" class="rectbutton" x="80.5%" y="64.29%" />
        <rect id="s5f17" class="rectbutton" x="85.5%" y="64.29%" />
        <rect id="s5f18" class="rectbutton" x="90.5%" y="64.29%" />
        <rect id="s5f19" class="rectbutton" x="95.5%" y="64.29%" />
        <rect id="s6f0" class="rectbutton" x="0.5%" y="78.57%" />
        <rect id="s6f1" class="rectbutton" x="5.5%" y="78.57%" />
        <rect id="s6f2" class="rectbutton" x="10.5%" y="78.57%" />
        <rect id="s6f3" class="rectbutton" x="15.5%" y="78.57%" />
        <rect id="s6f4" class="rectbutton" x="20.5%" y="78.57%" />
        <rect id="s6f5" class="rectbutton" x="25.5%" y="78.57%" />
        <rect id="s6f6" class="rectbutton" x="30.5%" y="78.57%" />
        <rect id="s6f7" class="rectbutton" x="35.5%" y="78.57%" />
        <rect id="s6f8" class="rectbutton" x="40.5%" y="78.57%" />
        <rect id="s6f9" class="rectbutton" x="45.5%" y="78.57%" />
        <rect id="s6f10" class="rectbutton" x="50.5%" y="78.57%" />
        <rect id="s6f11" class="rectbutton" x="55.5%" y="78.57%" />
        <rect id="s6f12" class="rectbutton" x="60.5%" y="78.57%" />
        <rect id="s6f13" class="rectbutton" x="65.5%" y="78.57%" />
        <rect id="s6f14" class="rectbutton" x="70.5%" y="78.57%" />
        <rect id="s6f15" class="rectbutton" x="75.5%" y="78.57%" />
        <rect id="s6f16" class="rectbutton" x="80.5%" y="78.57%" />
        <rect id="s6f17" class="rectbutton" x="85.5%" y="78.57%" />
        <rect id="s6f18" class="rectbutton" x="90.5%" y="78.57%" />
        <rect id="s6f19" class="rectbutton" x="95.5%" y="78.57%" />
      </g>
    </svg>
  </div>
  <div class="bottom">
    <div class="fret-number">0</div>
    <div class="fret-number">1</div>
    <div class="fret-number">2</div>
    <div class="fret-number">3</div>
    <div class="fret-number">4</div>
    <div class="fret-number">5</div>
    <div class="fret-number">6</div>
    <div class="fret-number">7</div>
    <div class="fret-number">8</div>
    <div class="fret-number">9</div>
    <div class="fret-number">10</div>
    <div class="fret-number">11</div>
    <div class="fret-number">12</div>
    <div class="fret-number">13</div>
    <div class="fret-number">14</div>
    <div class="fret-number">15</div>
    <div class="fret-number">16</div>
    <div class="fret-number">17</div>
    <div class="fret-number">18</div>
    <div class="fret-number">19</div>
  </div>
</div>
